{% extends 'base.html' %}
{% load thumbnail %}
{% block title %} Подписки {% endblock %}
{% block content %}
    {% include 'includes/switcher.html' %}
        {% for post in page_obj %}
            {% include 'includes/article.html' %}
            {% if post.group %}
                <a href="{% url 'posts:group_posts' post.group.slug %}" class="btn btn-primary"> Все записи группы</a>
            {% endif %}
            <a href="{% url 'posts:post_detail' post.id %}" class="btn btn-primary">Подробная информация</a>
            {% if not forloop.last %}
            <hr>
            {% endif %}
        {% endfor %}
        {% include 'includes/paginator.html' %}
{% endblock %}